/* line 3, ../_sass/_typography.sass */
.main_font, .font_display_1, .font_headline, .nav-bar .title, .font_title, .menu-content .item paper-button .label, .font_body_2, .font_body_1, .page-content {
  font-family: "RobotoDraft", sans-serif;
}

/* line 6, ../_sass/_typography.sass */
.font_display_1 {
  font-size: 34px;
  font-style: normal;
  font-weight: 200;
  line-height: 77px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54);
  opacity: 0.54;
}

/* line 14, ../_sass/_typography.sass */
.font_headline, .nav-bar .title {
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 69px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=54);
  opacity: 0.54;
}

/* line 22, ../_sass/_typography.sass */
.font_title, .menu-content .item paper-button .label {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  opacity: 0.87;
}

/* line 30, ../_sass/_typography.sass */
.font_body_2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  opacity: 0.87;
}

/* line 38, ../_sass/_typography.sass */
.font_body_1, .page-content {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  opacity: 0.87;
}

/* line 4, ../_sass/main.sass */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 17;
  width: 100%;
  height: 75px;
  margin: 25 0 0 auto;
  background-color: #005b99;
}
/* line 14, ../_sass/main.sass */
.nav-bar .button {
  background: #005b99;
  color: #b3e5fc;
  margin-top: 17px;
  margin-left: 20px;
  min-width: 0px;
}
/* line 20, ../_sass/main.sass */
.nav-bar .title {
  margin-left: 65px;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  display: inline;
  position: absolute;
  top: 4px;
  left: 0;
}
/* line 29, ../_sass/main.sass */
.nav-bar .logo {
  float: right;
  width: 71px;
  display: block;
  height: auto;
  overflow: hidden;
  margin-right: 3%;
  margin-top: 10px;
}

/* line 38, ../_sass/main.sass */
.page-banner {
  margin-top: 75px;
}

/* line 41, ../_sass/main.sass */
.page-content {
  position: relative;
  z-index: 2;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: black;
}
/* line 49, ../_sass/main.sass */
.page-content .text-center {
  margin-left: 10%;
  min-width: 0px;
  margin-right: 10%;
}

/* line 54, ../_sass/main.sass */
.menu-content {
  position: relative;
  z-index: 2;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
/* line 60, ../_sass/main.sass */
.menu-content .item {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #b3e5fc;
  border-right: 1px solid #b3e5fc;
  border-left: 1px solid #b3e5fc;
}
/* line 66, ../_sass/main.sass */
.menu-content .item paper-button {
  background: white;
  color: #ffab40;
  width: 100%;
  height: 70px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
/* line 74, ../_sass/main.sass */
.menu-content .item paper-button img {
  height: 70px;
  margin-left: 12%;
  float: left;
  margin-top: 2px;
}
/* line 79, ../_sass/main.sass */
.menu-content .item paper-button .label {
  display: inline;
  margin-left: 5%;
  color: black;
  margin-top: 15px;
  float: left;
  text-transform: none;
}

/* line 88, ../_sass/main.sass */
th {
  background: #005b99;
  height: 60px;
}

/* line 93, ../_sass/main.sass */
table {
  margin: 25px;
}

/* line 96, ../_sass/main.sass */
.footer {
  display: block;
  margin-top: 10px;
}
/* line 100, ../_sass/main.sass */
.footer a img {
  margin-left: 15px;
  height: 50px;
}
/* line 103, ../_sass/main.sass */
.footer .footer-comce {
  float: right;
  margin-right: 15px;
}
/* line 107, ../_sass/main.sass */
.footer .footer-comce a img {
  height: 50px;
}
