---
title: Aerolíneas
layout: info 
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/aerolineas.jpg"
---
mediawiki:
  Viaje México-Alemania
  Aerolíneas recomendadas:
  * Aeroméxico
  * Lufthansa
  Viaje Alemania-México:
  * Lufthansa
  Para viajar dentro del país (o la Unión Europea en general): usar trenes (rápidos y más económicos)
