---
title: Planeación de agenda
layout: info 
parent: True
parent_url: content/germany/protocolo.html
banner: "images/imagenagenda.png"
---
mediawiki:
  Planeación	
  * Que la cita sea dentro de la jornada laboral de lunes a viernes de 07:30 am a 05:00 pm
  * Debe ser agenda con un plazo de 2 semana de anticipación
  * El material impreso debe estar en inglés y en alemán 
  * No invadir horarios personales
  * Exigen puntualidad

  Puntualidad Alemana
  * Hora Acordada: Perfecto
  * 5 Minutos tarde: Avisar que va retrasado
  * 15 Minutos tarde: Reprogramar la cita
