---
title: Sobre los alimentos
layout: info 
parent: True
parent_url: content/germany/protocolo.html
banner: "images/imagenalimentos.png"
---
mediawiki:
  * Hora de la comida: Entre 12:00 p.m. y 14:00 p.m.

  * Poco común realizar o concluir negocios durante las comidas.

  * La persona más importante se sentará al centro o en la cabecera.

  * Orientar la conversación hacia los negocios, nada personal.

  * La persona que invita, por cortesía paga la cuenta.
