---
title: Berlín
layout: info 
parent: True
parent_url: content/germany/lugares.html
banner: "images/berlin.jpg"
---
mediawiki:
  Es la capital y ciudad más poblada
  Se recomienda visitar:
  * El Muro de Berlín
  * La Isla de los Museos (Museumsinsel)
  * La Catedral de Berlín. 
