---
title: Teléfonos de emergencia 
layout: info 
parent: True
parent_url: content/germany/emergencias.html
banner: "images/emergenciatel.jpg"
---
mediawiki:
  '''Policía: 110'''
  '''Bomberos y ambulancia: 112'''

  NOTA:

  Las farmacias en Alemania (Apotheken-Notdienst) están abiertas las 24 horas, aunque el servicio nocturno puede tener un cargo extra. 

