---
title: Clima
layout: default
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/clima.jpg"
---
{% include clima.slim primavera="content/germany/primavera.html" verano="content/germany/verano.html" otono="content/germany/otono.html" invierno="content/germany/invierno.html" %}
