---
title: Modelos de conducta
layout: info 
parent: True
parent_url: content/germany/protocolo.html
banner: "images/titulo.jpg"
---
mediawiki:
  La manera formal de tratar con la gente de negocios es la siguiente:
  * Usa el tratamiento de cortesía equivalente a Sr. (Her) y Sra. (Frau)
  * Usa los títulos profesionales: Doctor, Profesor...
  * Por lo general son más directos
  * No se aceptan bromas como parte de la negociación
  * Omitir temas relacionados con la Segunda Guerra Mundial
  * Al final de una reunión los alemanes manifiestan su aprobación golpeando sus nudillos sobre la mesa o escritorio. 

