---
title: Consulado 
layout: info 
parent: True
parent_url: content/germany/emergencias.html
banner: "images/consulado.jpg"
---
mediawiki:
  * Frankfurt: Dirección Taunusanlage 2160325 Frankfurt 
  * Teléfono 299.8750
  * Internacional:+49.30.269.3230 
  * Mail: info@consulmexfrankfurt.org 
  * Web: [[http://consulmex.sre.gob.mx/frankfurt/]] 
