---
title: Emergencias
layout: default
parent: True
parent_url: content/germany/
banner: "images/viaje.jpg"
---
{% include emergencias.slim embajada="content/germany/embajada.html" consulado="content/germany/consulado.html" emergencia="http://m.es.weather.com/" %}
