---
title: Exportación 
layout: info 
parent: True
parent_url: content/germany/protocolo.html
banner: "images/exportaciones.jpg"
---
mediawiki:
  '''DOCUMENTOS NECESARIOS:'''
  :'''Declaración de aduana.''' Tramitarse en oficina aduanal. 
  :'''Factura comercial.'''
  :'''Certificado de origen.'''
  :'''Certificados especiales.''' (Certificados sanitarios, de origen, para plantas, etc.)

  Tener en regla los trámites fitosanitarios y revisar las restricciones para productos agrícolas. 

  '''EN CONTRATOS:''' Especificar obligaciones de vendedor y comprador. 
  Revisar si se aplicarán las leyes alemanas, o las mexicanas. 
