---
title: Frankfurt
layout: info 
parent: True
parent_url: content/germany/lugares.html
banner: "images/frankfurt.jpg"
---
mediawiki:
  * Se considera la ciudad más internacional de Alemania.
  * Conocida por su historia e importancia financiera.
  * Visitar:
  ** Plaza Römerberg
  ** Catedral de San Bartolomé
  ** Römer

