---
title: Hamburgo
layout: info 
parent: True
parent_url: content/germany/lugares.html
banner: "images/hamburgo.jpg"
---
mediawiki:
  * Segunda ciudad más poblada
  * Ubicada en el estado con mayor poder adquisitivo del país. 
  * Visitar:
  ** Hafencity
  ** El Puerto 
  ** Parque Planten un Blomen

