---
title: Alemania
layout: default
parent: True
parent_url:
banner: "images/muro.jpg"
---
{% include country.slim antes="content/germany/recomendaciones.html" info="content/germany/informacion.html" protocolo="content/germany/protocolo.html" emergencia="content/germany/emergencias.html" modismos="content/germany/modismos.html" ligas="content/germany/links.html" experiencias="content/germany/experiencias.html" %}
