---
title: Alemania
layout: default
parent: True
parent_url:
banner: "images/viaje.jpg"
---
{% include country.slim antes="content/germany/informacion.html" info="content/germany/informacion.html" protocolo="content/germany/protocolo.html" emergencia="content/germany/emergencias.html" modismos="content/germany/modismos.html" %}
