---
title: Informacion
layout: default
parent: True
parent_url: content/germany/
banner: "images/viaje.jpg"
---
{% include informacion.slim recomendaciones="content/germany/recomendaciones.html" tramites="content/germany/tramites.html" clima="content/germany/clima.html" %}
