---
title: Información general 
layout: default
parent: True
parent_url: content/germany/
banner: "images/infogralgermany.jpg"
---
{% include informacion.slim pais="content/germany/pais.html" tips="content/germany/tips.html" %}
