---
title: Ingolstdat
layout: info 
parent: True
parent_url: content/germany/lugares.html
banner: "images/ingolstdat.jpg"
---
mediawiki:
  * Ciudad industrial, con refinerías de petróleo.
  * Aquí se encuentra la sede de Audi.
  * Cercana a Munich 
  * Visitar:
  ** Museo de la cerveza Kuchlbauer
  ** Museo de Audi

