---
title: Invierno
layout: info 
parent: True
parent_url: content/germany/clima.html
banner: "images/invierno.jpg"
---
mediawiki:
  '''Temperatura: de -5°C a 5°C'''

  Empacar:
  * Chamarras abrigadoras (Abrigos)
  * Botas
  * Bufandas
  * Gorros
  * Guantes
  * Pijama caliente
  * Calcetines para dormir
  * Ropa para nieve y frío.
