---
title: Ligas de interes 
layout: info 
parent: True
parent_url: content/germany/
banner: "images/ligas.jpg"
---
mediawiki:
  Embajada de Alemania en México

  [[http://www.mexiko.diplo.de/ ]]

  Cámara Mexicano-Alemana de Comercio e Industria

  [[http://mexiko.ahk.de/es/ ]]

  ¿Cómo Exportar un Producto  a Europa?

  [[http://www.comercioyaduanas.com.mx/comoexportar/comoexportarunproducto/139-como-exportar-a-europa ]]

  Guía de Requisitos Sanitarios y Fitosanitarios para Exportar Alimentos a la Unión Europea

  [[http://www.siicex.gob.pe/siicex/resources/calidad/req_ue.pdf ]]
  
  Cifras del comercio exterior en Alemania

  [[https://es.santandertrade.com/analizar-mercados/alemania/cifras-comercio-exterior?&actualiser_id_banque=oui&id_banque=35&memoriser_choix=memoriser ]]

  Fondo Monetario Internacional 

  [[http://www.imf.org/external/pubs/ft/weo/2013/01/weodata/weorept.aspx?pr.x=59&pr.y=9&sy=2012&ey=2012&scsm=1&ssd=1&sort=country&ds=.&br=1&c=134&s=NGDP_R%2CNGDP%2CNGDPD%2CNGDPRPC%2CNGDPPC%2CNGDPDPC%2CPPPGDP%2CPPPPC&grp=0&a= ]]

  Relaciones comerciales y de inversión entre México y Alemania

  [[http://embamex.sre.gob.mx/alemania/index.php/es/component/content/article/419]]

  Relación México-Alemania

  [[http://embamex.sre.gob.mx/alemania/index.php/es/relacion]]

  Alemania: Distribuir un producto

  [[https://es.santandertrade.com/analizar-mercados/alemania/distribuir-un-producto]]

  Acceso de viajeros a la Unión Europea

  [[http://ec.europa.eu/taxation_customs/common/travellers/enter_eu/index_en.htm]]

  CIFRAS DEL COMERCIO EXTERIOR EN ALEMANIA

  [[https://es.santandertrade.com/analizar-mercados/alemania/cifras-comercio-exterior#classification_by_products]]

  Sitio web oficial de Hamburgo

  [[http://english.hamburg.de/government/]]

  Sitio web oficial de Stuttgart

  [[http://www.stuttgart.de/en/]]

  Sitio web oficial de Munchen

  [[http://www.muenchen.de/int/en.html]]

  Sitio web oficial de Frankfurt

  [[http://frankfurt.de/]]
  
  Sitio web oficial de Koeln

  [[http://www.koeln.de/]]

  Sitio web oficial de Dusseldorf 

  [[http://www.duesseldorf.de/de/eng/index.shtml ]]

  Sitio web oficial de Duisberg

  [[http://www.duisburg.de/ ]]

  Guía de Alemania

  [[http://www.guiadealemania.com/]]

  The weather channel

  [[http://espanol.weather.com/]]
