---
title: Ciudades de interés
layout: default
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/muroberlin.jpg"
---
{% include item_list.slim name="Berlín" icon='flechader.png' target_url="content/germany/berlin.html" %}
{% include item_list.slim name="Munich" icon="flechader.png" target_url="content/germany/munich.html" %}
{% include item_list.slim name="Frankfurt" icon="flechader.png" target_url="content/germany/frankfurt.html" %}
{% include item_list.slim name="Hamburgo" icon="flechader.png" target_url="content/germany/hamburgo.html" %}
{% include item_list.slim name="Ingolstadt" icon="flechader.png" target_url="content/germany/ingolstdat.html" %}
