---
title: Lugares de Interes
layout: default
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/viaje.jpg"
---
{% include item_list.slim name="Muro de Berlin" icon='flechader.png' output_url="http://www.berliner-mauer-gedenkstaette.de/de/" %}
{% include item_list.slim name="Isla de los museos" icon="flechader.png" output_url="http://www.smb.museum/home.html" %}
{% include item_list.slim name="Catedral de Berlín" icon="flechader.png" output_url="http://www.berlinerdom.de/" %}
