---
title: Estrategias de mercado 
layout: info 
parent: True
parent_url: content/germany/protocolo.html
banner: "images/mercado.png"
---
mediawiki:
  Son clientes, no compradores: hay que llegar a ofrecerles.

  En un producto buscan:
  * Innovación: nuevas, frescas, ideas que puedan seguir evolucionando.
  * Calidad: Hay mucha competencia, la calidad define. Los productos mexicanos son considerados de menor calidad que europeos, hay que presentar con mucha calidad.
  * Diseño: atractivo y no ostentoso. 
