---
title: Frases comunes 
layout: info 
parent: True
parent_url: content/germany/
banner: "images/modismos.jpg"
---
mediawiki:
  '''Saludos:'''
  * Hola - Guten Tag
  * Encantado de Conocerte - Schön, Sie Kennenzulernen
  * ¿Cómo te llamas? - Wie ist Ihr Name?
  * Me llamo…- Mein Name ist…
  * ¿Cómo estás? - Wie geht es Dir?
  * Bien - Es geht mir gut

  '''Comida:'''
  * Puede recomendarme un restaurante? - Können Sie ein restaurant empfehlen?
  * ¿Qué es esto? - Was ist das?
  * Quiero… - Ich möchte…
  * ¡Buen provecho! - Guten Appetit!

  '''Compras:'''
  * ¿Tienen…? - Haben Sie…?
  * Quisiera comprar…- Ich möchte…kaufen
  * Quiero comprar este - Ich möchte es kaufen
  * ¿Cuánto cuesta? - Wie viel kostet es?

  '''Emergencia:'''
  * ¡Socorro! - Hilfe!
  * ¡Cuidado! - Vorsicht!
  * ¡Llame a una ambulancia!- Rufen Sie einen Krankenwagen!
  * ¡Llame a la policía! - Ruben Sie die Polizei!
