---
title: Munich
layout: info 
parent: True
parent_url: content/germany/lugares.html
banner: "images/munich.jpg"
---
mediawiki:
  * Una de las ciudades más importantes. 
  * Ubicada en el segundo estado con más poder adquisitivo del país. 
  * Ciudad con mucha cultura y hogar del Oktoberfest. 
  * Visitar: 
  ** El Jardín Inglés, 
  ** Marienplatz, 
  ** Münchner Residenz. 
