---
title: Negociaciones 
layout: info 
parent: True
parent_url: content/germany/protocolo.html
banner: "images/negociaciones.jpg"
---
mediawiki:
  * Siempre hacerlas en la oficina
  * Comunicarse en inglés, en especial la presentación
  * Negociar  y firmar un contrato, pero no continuar la negociación una vez firmado. 
  * Los alemanes son analíticos y directos.
  * Ir preparado para todo tipo de preguntas y comentarios (no ofenderse).
  * Ser serios y concisos en las negociaciones.
  * Las normas son importantes. Seguir la ley al pie de la letra. 
  * Poner poca información en la presentación digital.
