---
title: Otoño
layout: info 
parent: True
parent_url: content/germany/clima.html
banner: "images/otono.jpg"
---
mediawiki:
  '''Temperatura: 1°C-19°C'''

  Empacar:
  * Ropa abrigadora
  * Botas
  * Suéteres
  * Pantalones
  * Calcetines
  * Bufandas
  Durante los meses de frío se recomienda vestir con varias capas de ropa en vez de con una sola chamarra gruesa.

