---
title: Datos del país 
layout: info 
parent: True
parent_url: content/germany/informacion.html
banner: "images/datospais.jpg"
---


mediawiki:
  {| border = "1"
  |-
  ! scope="col" | Nombre oficial 
  ! scope="col" | República Federal de Alemania 
  |-
  | style="color:white; text-align: center; background: #005b99; height:60px;" | Capital
  | style="color:black; text-align: center; background: #03a9f4;"|Berlín
  |-
  |style="color:white; text-align: center; background: #005b99; height:60px;" |Idioma
  | style="color:black; text-align: center; background: #b3e5fc;"|Alemán
  |-
  |style="color:white; text-align: center; background: #005b99; height:60px;" |Moneda
  | style="color:black; text-align: center; background: #03a9f4;"|Euro (€, EUR)
  |-
  |style="color:white; text-align: center; background: #005b99; height:60px;" |Presidente/Primer Ministro
  | style="color:black; text-align: center; background: #b3e5fc;"|Presidente:Joachim Gauck

  Canciller federal: Angela Merkel
  |-
  |style="color:white; text-align: center; background: #005b99; height:60px;" |Religión predominante
  | style="color:black; text-align: center; background: #03a9f4;"|Cirstianismo
  |-
  |style="color:white; text-align: center; background: #005b99; height:60px;" |Zona horaria
  | style="color:black; text-align: center; background: #b3e5fc;"|UTC+1

  Hay siete horas más en Alemania
  |}
