---
title: Primavera
layout: info 
parent: True
parent_url: content/germany/clima.html
banner: "images/primavera.jpg"
---
mediawiki:
  '''Temperatura: 0°C- 19°C'''

  Empacar:
  * Pijama ligera 
  * Suéter de algodón, impermeable
  * Botas para lluvia
  * Medias para las damas
  * Abrigos o suéteres calientes
  * Bufanda o mascada para cubrirse del frío en las mañanas. 

