---
title: Protocolo
layout: default
parent: True
parent_url: content/germany/
banner: "images/protocolonegocios.jpg"
---
{% include protocolo.slim comunicacion="content/germany/comunicacion.html" agenda="content/germany/agenda.html" alimentos="content/germany/alimentos.html" vestimenta="content/germany/vestimenta.html" negociaciones="content/germany/negociaciones.html" exportacion="content/germany/exportacion.html" mercado="content/germany/mercado.html"%}
