---
title: Protocolo
layout: default
parent: True
parent_url: content/germany/
banner: "images/viaje.jpg"
---
{% include protocolo.slim comunicacion="content/germany/comunicacion.html" agenda="content/germany/agenda.html" alimentos="content/germany/alimentos.html" vestimenta="content/germany/vestimenta.html" tips="content/germany/tips.html"%}
