---
title: Antes de partir
layout: default
parent: True
parent_url: content/germany/
banner: "images/viaje.jpg"
---
{% include recomendaciones.slim salud="content/germany/salud.html" telefonia="content/germany/telefonia.html" lugares="content/germany/lugares.html" aerolineas="content/germany/aerolineas.html" clima="content/germany/clima.html" visa="content/germany/visa.html" %}
