---
title: Salud
layout: info 
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/salud.jpg"
---
mediawiki:
  Si se está  bajo un tratamiento, llevar medicamentos prescritos previamente comprados con su receta médica. 
  Llevar: 
  * Aspirina
  * Antiácidos (pepto - bismol)
  * Medicina para mareos
  * Termómetro
