---
title: Recomendaciones
layout: info 
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/viaje.jpg"
---
textile:
  Las vacunas obligatorias y recomendadas son las siguientes:

  * Hepatitis B

  * Difteria, tetanos, poliomielitis

  * Encefalitis por garrapatas

  * Tuberculosis

  Para mas información accede a la página de la CDC 
