---
title: Telefonía
layout: info 
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/telefonia.jpg"
---
mediawiki:
  * Conocidos como handys.
  * Alemania opera con una red GSM
  * Verificar si el teléfono del viajero está liberado para operar con esa red. De ser así, solo se necesita una nueva tarjeta SIM.
  * Investigar planes. El uso del celular mexicano en el extranjero es muy caro.
  * Roaming:
  ** Contactar a su compañía de teléfono. 
  ** Por lo general se puede adaptar el plan al tipo de viaje y destino. 
  ** Internet / Wi-fi:
  ** Servicio de internet en la mayoría de los hoteles (normalmente con costo adicional). 
  ** No hay Wi-fi gratuito en lugares públicos, restaurantes o cafés.
  ** Se necesita adaptador para cargador y conversor de voltaje. 
