---
title: Tips de viajero
layout: info 
parent: True
parent_url: content/germany/informacion.html
banner: "images/tipsviajero.jpg"
---
mediawiki:
  '''Llevar una copia escaneada de los documentos esenciales en el correo electrónico (Identificación, pasaporte, comprobante de domicilio)''' 

  '''Dinero'''
  * Hay centros de cambio de moneda en aeropuertos y algunos hoteles.
  * Cambiar algo de dinero antes de salir de México. 
  * Llevar el dinero en efectivo que se desee cambiar 

  '''Taxis'''
  * Siempre tienen un distintivo, no se confunden con los otros autos.
  * Sus tarifas varían, pero suelen ser elevadas.
  * Se cobra extra por llevar equipaje. 

  '''Autos'''
  * Todos los pasajeros deben llevar el cinturón de seguridad, aún si van en un taxi. 
  * '''¿Rentar auto?'''
  ** Se necesita una licencia de conducir vigente, pasaporte y una identificación extra. 
  ** Informarse sobre tarifas y precios de modelos y compañías, así como de promociones especiales (fin de semana, familiar, etc.) 
  ** Leer el reglamento básico de tránsito en el país. 

  ''' Autobús '''
  * No son muy rápidos se debe contar con tiempo o preguntar cuánto se hace de un lugar a otro. 
  * Muy puntuales, cómodos, y económicos. 

