---
title: Código de vestimenta 
layout: info 
parent: True
parent_url: content/germany/protocolo.html
banner: "images/imagenvestimenta.jpg"
---
mediawiki:
  Es importante verse arreglado pero simple. 
  * HOMBRES: Traje formal, color oscuro. (Negro, gris, azul marino)
  * MUJERES: Ropa formal, colores modestos. Usar poca joyería. Zapatos de piso o con poco tacón.

