---
title: Visa
layout: info 
parent: True
parent_url: content/germany/recomendaciones.html
banner: "images/visa.png"
---
mediawiki:
  Los nacionales mexicanos no necesitan visa para ingresar como turistas a Alemania o a cualquier otro país del Espacio Schengen* por un tiempo de hasta 90 días (3 meses), dentro de un período de 180 días (período de referencia). 
