---
title: Inicio
layout: default
parent: False
parent_url: index.html
banner:
---
{% include item_list.slim name="Alemania" icon="Germany.png" target_url="content/germany/" %}
{% include item_list.slim name="Brasil" icon="Brazil.png" target_url="content/brazil/" %}
{% include item_list.slim name="Estados Unidos" icon="USA.png" target_url="content/usa/" %}
{% include item_list.slim name="España" icon="Spain.png" target_url="content/spain/" %}
{% include item_list.slim name="Francia" icon="France.png" target_url="content/france/" %}
