{% include item_list.slim name="Primavera" icon='Primaveraico.png' target_url=include.primavera %}
{% include item_list.slim name="Verano" icon="Veranoico.png" target_url=include.verano %}
{% include item_list.slim name="Otoño" icon="otonoico.png" target_url=include.otono %}
{% include item_list.slim name="Invierno" icon="inviernoico.png" target_url=include.invierno %}
