{% include item_list.slim name="Antes de partir" icon='antesdepartir.png' target_url=include.antes %}
{% include item_list.slim name="Información general" icon="informaciongeneralpais.png" target_url=include.info %}
{% include item_list.slim name="Protocolo de negocios" icon="protocolonegocios.png" target_url=include.protocolo %}
{% include item_list.slim name="Emergencias" icon="encasoemergencia.png" target_url=include.emergencia %}
{% include item_list.slim name="Modismos" icon="modismos.png" target_url=include.modismos %}
