{% include item_list.slim name="Embajada" icon="embajada.png" target_url=include.embajada %}
{% include item_list.slim name="Consulado" icon="consulado.png" target_url=include.consulado %}
{% include item_list.slim name="Teléfonos de emergencia" icon="telemergencia.png" output_url=include.emergencia %}
