{% include item_list.slim name="Recomendaciones" icon='recomendaciones.png' target_url=include.recomendaciones %}
{% include item_list.slim name="Trámites arancelários" icon="tramites.png" output_url="http://www.economia.gob.mx/comunidad-negocios/comercio-exterior/informacion-estadistica-y-arancelaria" %}
{% include item_list.slim name="Clima" icon="clima.png" output_url="http://m.es.weather.com/" %}
