{% include item_list.slim name="Modelos de conducta" icon='comunicacion.png' target_url=include.comunicacion %}
{% include item_list.slim name="Planeación de la agenda" icon="agenda.png" target_url=include.agenda %}
{% include item_list.slim name="Sobre alimentos" icon="alimentos.png" target_url=include.alimentos %}
{% include item_list.slim name="Código de vestimenta" icon="vestimenta.png" target_url=include.vestimenta %}
{% include item_list.slim name="Negociaciones" icon="recomendaciones.png" target_url=include.negociaciones %}
{% include item_list.slim name="Exportación" icon="exportacion.png" target_url=include.exportacion %}
{% include item_list.slim name="Estrategias de mercado" icon="estrategiamercado.png" target_url=include.mercado %}
