{% include item_list.slim name="Salud" icon='salud.png' target_url=include.salud %}
{% include item_list.slim name="Ciudades de interés" icon="lugaresinteres.png" target_url=include.lugares %}
{% include item_list.slim name="Telefonía y comunicación" icon="telefoniainternet.png" target_url=include.telefonia %}
{% include item_list.slim name="Aerolineas" icon="aerolineas.png" target_url=include.aerolineas %}
{% include item_list.slim name="Clima" icon="clima.png" target_url=include.clima %}
{% include item_list.slim name="Visa" icon="pasaporte.png" target_url=include.visa %}
